<p>Servers Component</p>
<app-server></app-server>
<app-server></app-server>
<hr>
<label>ServerName</label>
<input 
class="form-control"
type="text"
(input)="onServerNameUpdated()"
[(ngModel)]="serverName">

<button
class="btn btn-primary"
[disabled]="!serverStatus"
(click)="onResetServerName()">Reset</button>
<hr>
<p>Server Name is : {{ serverName }}</p>
<hr>
<hr>

<button
class="btn btn-primary"
(click)="onDisplayServerDetails()"
>Display Server Details</button>
<hr>
<p *ngIf="showServerDetails">Server Name : Test = IP : 10.221.34.42</p>
<p *ngFor="let server of serverArr" [ngClass]="{ limit : getLimitStatus()}">Requested for server details count {{server}}</p>